In [ ]:
import pandas as pd
import io

In [ ]:
with open('/content/batch1.csv', encoding='utf-8', errors='replace') as f:
    data = f.read()

df1 = pd.read_csv(io.StringIO(data))

In [ ]:

with open('/content/batch2.csv', encoding='utf-8', errors='replace') as f:
    data = f.read()

df2 = pd.read_csv(io.StringIO(data))

In [ ]:
with open('/content/batch3.csv', encoding='utf-8', errors='replace') as f:
    data = f.read()

df3 = pd.read_csv(io.StringIO(data))

In [ ]:
with open('/content/batch4.csv', encoding='utf-8', errors='replace') as f:
    data = f.read()

df4 = pd.read_csv(io.StringIO(data))

In [ ]:
with open('/content/batch5.csv', encoding='utf-8', errors='replace') as f:
    data = f.read()

df5 = pd.read_csv(io.StringIO(data))

In [ ]:
with open('/content/batch6.csv', encoding='utf-8', errors='replace') as f:
    data = f.read()

df6 = pd.read_csv(io.StringIO(data))

In [ ]:
with open('/content/batch7.csv', encoding='utf-8', errors='replace') as f:
    data = f.read()

df7 = pd.read_csv(io.StringIO(data))

In [ ]:
len(df1)

1903

In [ ]:
len(df2)

1875

In [ ]:
len(df3)

5634

In [ ]:
len(df4)

9414

In [ ]:
len(df5)

9301

In [ ]:
len(df6)

9344

In [ ]:
len(df7)

18359

In [ ]:
s=[df1,df2,df3,df4,df5,df6,df7]

In [ ]:
df

,Unnamed: 0,ids,text
0,0,1.301327e+18,@TRTArabi ال سلول الجبان الذليل المنافق كلب من...
1,1,1.307995e+18,@TRTArabi الا يا ال زايد خبرونا \nأما فيكم من ...
2,2,1.332262e+18,@TRTArabi السلطة وعلى راسها ال سلول هم اكبر ال...
3,3,1.314475e+18,NaN
4,4,1.341468e+18,@TRTArabi الله ينصركم على آل سلول الفتالين عي...
...,...,...,...
18354,18353,9.494298e+17,@saudq1978 #كلنا_سلمان_كلنا_محمد\nاوامر خير لش...
18355,18354,1.015940e+18,@r2wwww @deep_71023 اوجعتي قلبي حسبي الله وكفى...
18356,18355,1.051670e+18,#كلنا_ثقه_في_محمد_بن_سلمان\n\nاوطنا دون حدك اس...
18357,18356,1.243950e+18,@7Ggg1o3GhlR9eCK @The_Saudi_girl اوف لا والله ...
18358,18357,1.308716e+18,#٩٠عام_فوق_هام_السحب اوفر حسابات نتفلكس وعندن...

In [ ]:
for i in s:
  df=df.append(i, ignore_index=True)

<ipython-input-28-b42f8f75260b>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(i, ignore_index=True)

In [ ]:
df

,Unnamed: 0,ids,text
0,0,1.301327e+18,@TRTArabi ال سلول الجبان الذليل المنافق كلب من...
1,1,1.307995e+18,@TRTArabi الا يا ال زايد خبرونا \nأما فيكم من ...
2,2,1.332262e+18,@TRTArabi السلطة وعلى راسها ال سلول هم اكبر ال...
3,3,1.314475e+18,NaN
4,4,1.341468e+18,@TRTArabi الله ينصركم على آل سلول الفتالين عي...
...,...,...,...
74184,18353,9.494298e+17,@saudq1978 #كلنا_سلمان_كلنا_محمد\nاوامر خير لش...
74185,18354,1.015940e+18,@r2wwww @deep_71023 اوجعتي قلبي حسبي الله وكفى...
74186,18355,1.051670e+18,#كلنا_ثقه_في_محمد_بن_سلمان\n\nاوطنا دون حدك اس...
74187,18356,1.243950e+18,@7Ggg1o3GhlR9eCK @The_Saudi_girl اوف لا والله ...
74188,18357,1.308716e+18,#٩٠عام_فوق_هام_السحب اوفر حسابات نتفلكس وعندن...

In [ ]:
len(df)

74189

In [ ]:
df.to_csv('alldata.csv', index=False)

In [ ]:
with open('/content/alldata.csv', encoding='utf-8', errors='replace') as f:
    data = f.read()

data_frame = pd.read_csv(io.StringIO(data))

In [ ]:
data_frame

,Unnamed: 0,ids,text
0,0,1.301327e+18,@TRTArabi ال سلول الجبان الذليل المنافق كلب من...
1,1,1.307995e+18,@TRTArabi الا يا ال زايد خبرونا \nأما فيكم من ...
2,2,1.332262e+18,@TRTArabi السلطة وعلى راسها ال سلول هم اكبر ال...
3,3,1.314475e+18,NaN
4,4,1.341468e+18,@TRTArabi الله ينصركم على آل سلول الفتالين عي...
...,...,...,...
74184,18353,9.494298e+17,@saudq1978 #كلنا_سلمان_كلنا_محمد\nاوامر خير لش...
74185,18354,1.015940e+18,@r2wwww @deep_71023 اوجعتي قلبي حسبي الله وكفى...
74186,18355,1.051670e+18,#كلنا_ثقه_في_محمد_بن_سلمان\n\nاوطنا دون حدك اس...
74187,18356,1.243950e+18,@7Ggg1o3GhlR9eCK @The_Saudi_girl اوف لا والله ...
74188,18357,1.308716e+18,#٩٠عام_فوق_هام_السحب اوفر حسابات نتفلكس وعندن...

In [ ]:
data_frame.columns

Index(['Unnamed: 0', 'ids', 'text'], dtype='object')

In [ ]:
with open('/content/cleaned_id.csv', encoding='utf-8', errors='replace') as f:
    data = f.read()

data_frame_ = pd.read_csv(io.StringIO(data))

In [ ]:
data_frame_

       Unnamed: 0             Tweet_ID Label  tweet
0               0  1359862972739371009     F  empty
1               1  1358000045350658048     T  empty
2               2  1357792268699242497     T  empty
3               3  1350595656293998592     T  empty
4               4  1349239790252797953     T  empty
...           ...                  ...   ...    ...
77618       89870  1051426563038830593     F  empty
77619       89871  1348371936959672322     F  empty
77620       89872  1051543586834145281     F  empty
77621       89873  1051565181103419392     F  empty
77622       89874  1051488176085327874     F  empty

[77623 rows x 4 columns]

In [ ]:
data_frame_.columns

Index(['Unnamed: 0', 'Tweet_ID', 'Label', 'tweet'], dtype='object')

In [ ]:
data_frame_ = data_frame_.rename(columns={'Tweet_ID': 'ids'})

In [ ]:
merged_df = pd.merge(data_frame, data_frame_, on='ids')
merged_df.to_csv('merged_file.csv', index=False)

In [ ]:
with open('/content/merged_file.csv', encoding='utf-8', errors='replace') as f:
    data = f.read()

merged = pd.read_csv(io.StringIO(data))

In [ ]:
merged

,Unnamed: 0_x,ids,text,Unnamed: 0_y,Label,tweet
0,0,1.301327e+18,@TRTArabi ال سلول الجبان الذليل المنافق كلب من...,52252,T,empty
1,0,1.301327e+18,@TRTArabi ال سلول الجبان الذليل المنافق كلب من...,52252,T,empty
2,1,1.307995e+18,@TRTArabi الا يا ال زايد خبرونا \nأما فيكم من ...,52254,T,empty
3,1,1.307995e+18,@TRTArabi الا يا ال زايد خبرونا \nأما فيكم من ...,52254,T,empty
4,6,1.321068e+18,NaN,52259,T,empty
...,...,...,...,...,...,...
27291,9337,1.285298e+18,@TRLuxuryFurni84 يارررررب...نفرح بزوال حكم أل ...,52244,T,empty
27292,9339,1.282019e+18,@Trseso90 الحق على ال سلول هم خطفوهم,52247,T,empty
27293,9340,1.302504e+18,@Trt10616790 @SalaheddinMora1 @Mohdelmoctar @m...,52248,T,empty
27294,9341,1.294151e+18,@trt123430 @T1beCVnnEzLlKzO @DrAlnefisi لما شر...,52249,T,empty
27295,9342,1.314466e+18,@TRTArabi @mshinqiti آل سلول ...\nيفضحون أنفسه...,52250,T,empty

In [ ]:
len(merged)

27296

In [ ]:
from google.colab import files
files.download('allData.csv')

In [ ]:
from google.colab import files
files.download('merged_file.csv')